

.container{
    max-width: 940px;
    height: 708px;
    margin: 0 auto;
}


.position{
    position: relative;
}
.spacecraft-img{
    margin-top: 30px;
    position: absolute;
    z-index: 40;
}
.name{
    padding-top: 195px;
    padding-left: 400px;
}
.home-h1{
    color: $white-color;
    text-align: center;
    text-transform: uppercase;
    line-height: 60px; 
    font-size: 60px;
}
.home-h2{
    margin: 40px 0px;
    color: $white-color;
    text-align: center;
    text-transform: uppercase;
    line-height: 60px; 
    font-size: 43px;
}
.button{
    background-color: $black-color;
    text-align: center;
    padding: 10px;
    margin: 0px auto 0px 200px;
    color: #a3a3a3;
    font-size: 18px;
    line-height: 50px;
    text-transform: uppercase;
}

.button:hover{
    background-color: #ab000b;
    color: $white-color;
}


.listname{
    margin-top: 47px;
    color: $white-color;
    background-color: $black-color;
    opacity: 0.6;
    height: 60px;
    text-align: center;
    text-transform: uppercase;
    line-height: 60px; 
    font-size: 23px;
}
.gallery{
    display: flex;
    justify-content: left;
    height: 155px;
}
.gallery-a:hover{
    opacity: 0.6;
}




.mission{
    height: 170px;
    background-color: #630031;
}
.mission-container{
    max-width: 760px;
    margin: 0 auto;
}
.mission-h3{
    text-transform: uppercase;
    color: $white-color;
    font-size: 32px;
    text-align: center;
    line-height: 85px;
}
.mission-p{
    text-transform: lowercase;
    color: $white-color;
    font-size: 18px;
    text-align: center;    
}
.mission-a{
    text-decoration: underline;
    text-transform: uppercase;
    color: $white-color;
    font-size: 18px;
    text-align: center;   
}
.mission-a:hover{
    opacity: 0.6;
}

/* video section */
.video-section{
    height: 435px;
    background-color: $black-color;
}
.video-container{
    max-width: 950px;
    margin: 0 auto;
}
.video-part1{
    width: 500px;
}
.video-h3{
    margin: 0px 40px 10px 0px;
    color: $white-color;
    text-align: center;
    text-transform: uppercase;
    line-height: 110px; 
    font-size: 32px;    
}
.video-img:hover{
    opacity: 0.6;
}

.video-blog1-h2{
    text-transform: uppercase;
    color: #595959;
    font-size: 23px;
    text-align: center;
}
.video-blog1-p{
    text-transform: lowercase;
    color: #595959;
    font-size: 14px;
    margin-bottom: 10px;
}
.blog1-margin{
    margin-left: 25px;
    position: relative;
}
.video-blog1-button{
    padding: 10px;
    background-color: #3c0f38;
    text-transform: uppercase;
    color: $white-color;
    position: absolute;
    bottom: 40px;
    right: 0px;
}
.video-blog1-button:hover{
    background-color: #630031;
}
.blog-part{
    margin-bottom: 30px;
    height: 130px;
    border-bottom: 2px solid #595959;
    display: flex;
}   
.blog-part:last-child{
    border: 0px;
}





/* about page */
.aboutbg{
    background-color: $black-color;
    background-image: url(../img/bg2.png);
    height: 500px;
    background-repeat: no-repeat;
}
.about-section1-container{
    width: 820px;
    margin: 0px auto;
}
.about-h2{
    padding: 90px 0px;
    color: $white-color;
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
}
.about-h3{
    padding: 30px 0px;
    color: $white-color;
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;    
}
.about-p{
    color: $white-color;
    text-align: center;
    text-transform: lowercase;
    font-size: 18px;          
}
.about-section2{
    height: 250px;
    background-color: #630031;
}
.about-section2-img{
    padding-top: 25px;
    height: 190px;
}
.about-section2-container{
    width: 620px;
}
.about-section2-h2{
    text-align: center;
    color: #A3A3A3;
    text-transform: uppercase;
    font-size: 23px;
    padding: 40px 0px 25px 0px;
}
.about-secion2-p{
    text-transform: lowercase;
    color: $white-color;
    font-size: 14px;
    line-height: 24px; 
    text-align: center;  
}
.k{
    font-size: 14px;
    text-transform: none;
    font-size: inherit;
}
.about-section3{
    height: 365px;
    background-color: $black-color;
}
.mm{
    padding-top: 40px;
}
.about-section4{
    background-color: #3c0f38;
    height: 230px;
}
.s4-container{
    width: 770px;
    margin: 0px auto;
}
/* end about page */
 
/* projects page */
.pro-bg{
    background-color: $black-color;
    height: 1300px;
}
.pro-container{
    width: 940px;
    margin: 0px auto;
}
.m{
    margin-top: 40px;
    height: 330px;
    border-bottom: 2px solid #595959; 
}
.pro-text{
    position: relative;
    padding-left: 40px;
}
.pro-img{
    width: 380px;
}
.pro-img:hover{
    opacity: 0.6;
}
.pro-h3{
    text-align: center;
    color: #A3A3A3;
    text-transform: uppercase;
    font-size: 23px;
    padding-bottom: 35px;
}
.pro-p{
    line-height: 20px;
    text-transform: lowercase;
    color: $white-color;
    font-size: 16px;
}
.pro-button{
    bottom: 70px;
}
.m:last-child{
    border: 0px;
}


.pr1-img{
    width: 940px;
}
.pro1-p{
    margin: 40px 0px;
    text-transform: lowercase;
    color: $white-color;
    font-size: 18px;  
    text-align: center; 
}
.protext-container{
    padding-top: 50px;
    margin: 0px auto;
    width: 770px;
}
/* end projects page */
/* blog page */
.flex1{
    display: flex;
    justify-content: space-between;
}
.blog-h1{
    text-align: center;
    text-transform: uppercase;
    color: $white-color;
    font-size: 28px;
    padding: 30px;
}
.blog-container{
    margin: 0px auto;
    width: 560px;
    height: 560px;
    border-bottom: 2px solid #595959;
}
.blog-container:last-child{
    border: 0px;
}
.blog-h3{
    color: #A3A3A3;
    text-transform: uppercase;
    font-size: 23px;
    padding-top: 15px;
}
.blog-p{
    color: $white-color;
    text-transform: uppercase;
    font-size: 12px;
    padding-bottom: 15px;
}
.blog-img{
    margin-top: 30px;
    width: 560px;
}
.blog-img:hover{
    opacity: 0.6;
}
.blog-text{
    position: relative;
}
.blog-b{
    bottom: -40px;
}


.blog1-img{
    width: 320px;
}
.blog1-img:hover{
    opacity: 0.6;
}
.blog1-container{
    width: 350px;
    height: 400px;
    border-bottom: 2px solid #595959;
}
.blog1-container:last-child{
    border-bottom: 0px;
}
.blog1-h3{
    text-transform: uppercase;
    color: $white-color;
    font-size: 28px;
    padding: 30px 0px;
}

.hover-img{
    width: 100px;
    margin: 0px 20px 30px 0px;
}
.hover-img:hover{
    opacity: 0.6;
}
/* contact page */
.contact-p{
    text-align: center;
    margin-top: 60px;
}
.input{
    width: 460px;
    height: 40px;
    background-color: #A3A3A3;
    color: $black-color;
    margin: 15px auto;
    font-size: 16px;
    padding-left: 15px;
}
.input1{
    height: 110px;
    width: 455px;
}
::placeholder{
    color: #3c0f38;
    font-size: 16px;
}
.contact-container{
    margin: 0 auto;
    width: 460px;
    padding-top: 30px;
    position: relative;
}
.b{
    bottom: -50px;
}